# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Environment variables
.env

# Editor/IDE files
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Embedding files
index.faiss
index.pkl